.game-list-heading {
  margin-top: 60px;
}
.cards-container {
  width: calc(100% - (30px)) !important;
  margin: 32px auto 10px;
}
.movie-card {
  border: none !important;
  text-align: center;
  position: relative;
  
}
.movie-card .details-icon {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #80808073;
  border-radius: 50%;
  top: 5px;
  right: 10px;
  cursor: pointer;
}

.movie-card .card-body h5 {
  font-size: 10 px;
  font-weight: bold;
}

.movie-card .card-body p {
  font-size: 16px;
    font-weight: 200;
    margin-bottom: 0;
}
.movie-card .card-body .card-foot {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  align-items: center;
}
.movie-card .card-body .card-icon {
  cursor: pointer;
  border: none;
}
.movie-card .card-body {
  position: relative;
  display: flex;
  flex-direction: column;
}
.film-rate {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: rgb(36, 173, 152);
  border-radius: 50%;
  left: -8px;
  top: -40px;
  border: 4px solid white;
  color: black;
  line-height: 42px;
  text-align: center;
}
.movie-card .card-body .card-icon.active{
color: #FFE353;
overflow: hidden;
}


