.pagenation {
  text-align: center;
  display: flex;
  justify-content: center;
}
.pagenator {
  list-style: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
}
.pagenator li {
  margin: 0 10px;
  width: 30px;
  height: 20px;
  font-size: 20px;
}
.pagenator li button {
  border: none;
  background-color: white;
}
.pagenator li button.active {
  background-color: #ffe353;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
}
.pagenator li button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
