.search-conetent {
  width: calc(100% - (60px));
  height: 256px;
  background-color: #f3f1f1;
  margin: 21px auto 62px;
  padding: 37px 35px 49px 48px;
}
.search-conetent h2 {
  text-align: left;
  margin-bottom: 35px;
}
.search-conetent p {
  text-align: left;
  font-size: 14px;
  margin-bottom: 16px;
}
.search-conetent form .search-form {
display: flex;
justify-content: space-between;
}
.search-conetent .search-form input {
    /* flex: 1; */
    height: 46px;
    width: calc(100% - 200px) !important;
}
.search-conetent .search-form button {
    background-color:  #FFE353;
    width: 120px;
    height: 46px;
    
}
